<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de categoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<h1 th:text="${categoria.id == null} ? 'Nueva categoria' : 'Editar categoria'"></h1>
<form th:action="@{/categoria}" th:object="${categoria}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Nombre:</label>
    <input type="text" th:field="*{nombregsmc}" />

    <label>Descripcion</label>
    <input type="text" th:field="*{descripciongsmc}" />

    <button type="submit">Guardar</button>
</form>
<a href="/marca">Volver a la lista</a>
</body>
</html>