<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<h1 th:text="${cliente.id == null} ? 'Nuevo cliente' : 'Editar cliente'"></h1>
<form th:action="@{/cliente}" th:object="${cliente}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Nombre:</label>
    <input type="text" th:field="*{nombregsmc}" />
    <input type="text" th:field="*{direcciongsmc}">
    <input type="date" th:field="*{fechanacimientogsmc}">
    <input type="number" th:field="*{sueldogsmc}">
    <input type="number" th:field="*{estatusgsmc}">
    <button type="submit">Guardar</button>
</form>
<a href="/cliente">Volver a la lista</a>
</body>
</html>